.character-card {
    padding: 24px;
    width: 300px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 12px;
    box-shadow: 1px 2px 8px #666;
}

.character-card__name {
    margin-bottom: 12px;
}

.character-card__image {
    width: 100%;
}

.character-card__origin {
    font-style: italic;
}